{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <section class="login">

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <div>
            <a class="hiddenanchor" id="signup"></a>
            <a class="hiddenanchor" id="signin"></a>
            <div class="login_wrapper">
                <div class="animate form login_form">
                    <section class="login_content">
                        <form action="{{ path('app_login') }}" method="post">
                            {{ form_start(registrationForm) }}
                            <h1>Login</h1>
                            <div>
                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}"
                                >
                                <input type="email" value="{{ last_username }}" name="email" placeholder="Votre email" id="inputEmail" class="form-control" required autofocus/>
                            </div>
                            <div>
                                <input type="password" name="password" id="inputPassword" placeholder="Votre mot de passe" class="form-control" required/>
                            </div>
                            <div>

                                <button class="btn btn-lg btn-primary" type="submit">Login</button>
                                <a class="reset_pass" href="mdp_oubile.html"
                                >Mot de passe oublié ?</a
                                >
                            </div>
                            <div class="clearfix"></div>
                            <div class="separator">
                                <p class="change_link">
                                    Nouveau sur le site ?
                                    <a href="#signup" class="to_register"> Créer un compte</a>
                                </p>

                                <div class="clearfix"></div>
                                <br />
                            </div>
                        </form>
                    </section>
                </div>

                <div id="register" class="animate form registration_form">
                    <section class="login_content">
                        <form method="post" action="{{ path('app_register') }}">
                            {{ form_start(registrationForm) }}

                            <h1>S'enregistrer</h1>
                            {{ form_row(registrationForm.email) }}
                            {{ form_row(registrationForm.name) }}
                            {{ form_row(registrationForm.lastname) }}
                            {{ form_row(registrationForm.plainPassword) }}
                            <div class="item form-group">
                                <input
                                        name="passwordConf"
                                        type="password"
                                        class="form-control"
                                        placeholder="Confirmez votre mot de passe"
                                        required=""
                                />
                            </div>

                            <div>
                                <input
                                        name="birthday"
                                        id="birthday"
                                        class="date-picker form-control"
                                        placeholder="jj-mm-aaaa"
                                        type="text"
                                        required="required"
                                        type="text"
                                        onfocus="this.type='date'"
                                        onmouseover="this.type='date'"
                                        onclick="this.type='date'"
                                        onblur="this.type='text'"
                                        onmouseout="timeFunctionLong(this)"
                                />
                                <script>
                                    function timeFunctionLong(input) {
                                        setTimeout(function () {
                                            input.type = "text";
                                        }, 60000);
                                    }
                                </script>
                            </div>
                            {{ form_row(registrationForm.agreeTerms) }}


                            <div>
                                <button type="submit" class="btn btn-success submit">Envoyer </button>
                            </div>
                            <div class="clearfix"></div>
                            <div class="separator">
                                <p class="change_link">
                                    Déjà membre ?
                                    <a href="#signin" class="to_register">Connexion</a>
                                </p>
                                <div class="clearfix"></div>
                                <br />
                            </div>
                            {{ form_end(registrationForm) }}
                        </form>
                    </section>
                </div>

            </div>
        </div>

    </section>


    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}


{% endblock %}
