{% extends 'base.html.twig' %}

{% block title %}Création d'un événement{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/vendors/bootstrap-daterangepicker/daterangepicker.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendors/fullcalendar/dist/fullcalendar.min.css')}}" rel="stylesheet">
    <link href="{{ asset('assets/vendors/fullcalendar/dist/fullcalendar.print.css')}}"  rel="stylesheet">

    <style>
        #formular {
            max-width: 600px;
            margin: 0 auto;
        }
    </style>

{% endblock %}

{% block body %}

    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
                    <h3 class="text-center" >Création d'un nouvel événement</h3>

            <div class="clearfix"></div>

            <div class="row" id="formular">
                <div class="col-md-12 col-sm-12 ">
                    <div class="x_panel">
                        <div class="x_title">
                        </div>
                        <div class="x_content">
                            {{ form_start(form) }}
                            {{ form_row(form.title) }}
                            {{ form_row(form.start) }}
                            {{ form_row(form.end) }}
                            {{ form_row(form.allday) }}
                            {{ form_row(form.description) }}
                            <div class="ln_solid"></div>
                            <div class="item form-group">
                                <div class="col-md-6 col-sm-6 offset-md-3">
                                    <button type="submit" class="btn btn-success">Sauvegarder</button>
                                    <p> ou Revenir au <a href="{{ path('user_calendar') }}">Calendrier</a></p>
                                </div>
                            </div>
                            {{ form_end(form) }}

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- jQuery -->
    <script src="{{ asset('assets/vendors/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ asset('assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>

    <script src="{{ asset('assets/build/js/custom.js') }}">  </script>

{% endblock %}

