{% extends 'base.html.twig' %}

{% block body %}

    <section class="nav-md">
        <div class="container body">
            <div class="main_container">
                <div class="col-md-3 left_col">
                    <div class="left_col scroll-view">
                        <div class="clearfix"></div>
                        <br />

                        <!-- sidebar menu -->
                        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                            <div class="menu_section">
                                <br />
                                <!-- sidebar menu -->
                                <ul id="Submenu"><h6>Bonjour</h6><h2>{{ app.user.email }}</h2>
                                    <HR>
                                    <li><a href="{{ path('user_dashboard') }}" class="menu">Dashboard</a></li>
                                    <li><a href="{{ path('user_calendar') }}"  class="menu">Calendrier</a></li>
                                    <li><a href="{{ path('contact_index') }}"  class="menu">Liste de contacts</a></li>
                                    <HR>
                                    <li><a href="{{ path('user_profile') }}"  class="menu">Profile</a></li>
                                    <li><a href="{{ path('app_login') }}"  class="menu">Login</a></li>
                                    <li><a href="{{ path('app_login') }}"  class="menu">S'inscrire</a></li>
                                    <li><a href="{{ path('app_logout') }}"  class="menu">Déconnexion</a></li>
                                </ul>
                                <!-- /sidebar menu -->
                            </div>
                        </div>

                    </div>
                </div>

                <!-- page content -->
                <div class="right_col" role="main">
                    <div class="">
                        <div class="page-title">
                            <div class="title_left">
                                <h3>Politiques de confidentialités</h3>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12 col-sm-12  ">
                            <div class="clearfix"></div>
                            <div class="x_panel">
                                <div class="x_content">
                                    <div class="col-md-8">
                                        <p>
                                            <strong>A. Introduction</strong>
                                            <br>
                                            <br>
                                            La confidentialité des visiteurs de notre site web est très importante à nos yeux, et nous nous engageons à la protéger. Cette politique détaille ce que nous faisons de vos informations personnelles.
                                            <br>
                                            <br>
                                            <strong>B. Utilisation de vos informations personnelles</strong> <br>
                                            <br>
                                            Les informations personnelles qui nous sont fournies par le biais de notre site web seront utilisées dans les objectifs décrits dans cette politique ou dans les pages du site pertinentes. Nous pouvons utiliser vos informations personnelles pour: <br>
                                            Administrer notre site web;<br>
                                            Permettre votre utilisation des services proposés sur notre site web Timegain;<br>
                                            Maintenir la sécurité de notre site web et empêcher la fraude ;<br>
                                            Vos paramètres de confidentialité peuvent être utilisés pour limiter la publication de vos informations sur notre site web et peuvent être ajustés dans vos paramètres de confidentialité sur le site web.
                                            Sans votre consentement explicite, nous ne fournirons pas vos informations personnelles à des tierces parties pour leur marketing direct, ni celui d’autres tierces parties.
                                            <br>
                                            <br>
                                            <strong>C. Divulgation de vos informations personnelles</strong> <br>
                                            <br>
                                            Nous pouvons divulguer vos informations personnelles à n’importe lequel de nos employés, dirigeants, assureurs, conseillers professionnels, agents, fournisseurs, ou sous-traitants dans la mesure où cela est raisonnablement nécessaire aux fins énoncées dans cette politique.
                                            Nous pouvons divulguer vos informations personnelles à n’importe quel membre de notre groupe d’entreprises (cela signifie nos filiales, notre société holding ultime et toutes ses filiales) dans la mesure où cela est raisonnablement nécessaire aux fins énoncées dans cette politique.
                                            Nous pouvons divulguer vos informations personnelles:<br>
                                            <br>
                                            <strong>D. Sécurité de vos informations personnelles</strong> <br>
                                            <br>
                                            Nous prendrons des précautions techniques et organisationnelles raisonnables pour empêcher la perte, l’abus ou l’altération de vos informations personnelle.
                                            Nous stockerons toutes les informations personnelles que vous nous fournissez sur des serveurs sécurisés (protégés par mot de passe et pare-feu).
                                            Vous êtes responsable de la confidentialité du mot de passe que vous utilisez pour accéder à notre site web ; nous ne vous demanderons pas votre mot de passe (sauf quand vous vous identifiez sur notre site web).
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /page content -->
            </div>


        </div>

    </section>


{% endblock %}