
{% extends 'base.html.twig' %}

{% block title %}New Contact{% endblock %}

{% block body %}

    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Edition du Profile</h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12 col-sm-12  ">
                <div class="clearfix"></div>
                <div class="x_panel">
                    <div class="x_content">
                        <div class="col-md-12">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="right_col" role="main">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                {{ include('contact/_form.html.twig', {'button_label': 'Editer'}) }}
                                                {{ include('contact/_delete_form.html.twig') }}
                                                <a href="{{ path('contact_index') }}">Tous les contacts</a>
                                            </div>
                                        </div>

                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- jQuery -->
    <script src="{{ asset('assets/vendors/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ asset('assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>

    <script src="{{ asset('assets/build/js/custom.js') }}">  </script>

{% endblock %}
}
